@media print {
    /* Aquí irían tus reglas CSS específicas para imprimir */
   .navbar-fixed,.page-footer,.atras,#imprimir,.card-panel{
      display:none;
   } 

   body{
      font-size: small; 
   }

   .texto{
      font-size: small;
   }
}

@page{
   size: auto;
   margin: 0;
}