/*
    Estilo para vista webNotas.php
    Se puede reutilizar alguna de estas clases :v
*/
.contenedor{
    margin-top: 2.4% !important;
    
}
.tarjeta{
    margin-left: 1% !important;
}
.tarjeta img{
    margin-top: 40% !important;
}

/*
    Fin estilo webNotas.php
*/

/* clase para tamaño de los modales Roberto*/

.tamaño{
  min-height: 90.5% !important; 
  margin-top: -4% !important;
}

/* fin del estilo modal*/

/*boton-save sin hover*/
.boton-save{
    background-color: black !important;
    color: white !important;
    border: solid 1px black !important;
}
/*fin de la clase boton-save sin hover*/

/*clase hover para botones de formulario modal*/
.boton-save:hover{
    background-color: green !important;
    color: white !important;
    border: 1px green solid !important; 
}
/*fin del estilo hover para botones*/

/*boton-delete sin hover*/
.boton-delete{
    background-color: black !important;
    color: white !important;
    border: solid 1px black !important;
}
/*fin de la clase boton-delete sin hover*/

/*clase hover para botones de formulario modal*/
.boton-delete:hover{
    background-color: red !important;
    color: white !important;
    border: 1px red solid !important; 
}
/*fin del estilo hover para botones*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  div {
    flex: 1 0 auto;
  }
  .boton-g{
    background-color: black !important;
    color: white !important;
    border: 1px solid black !important;
}

     
